<div class="cont-general">
	<div class="cont-flex">
		<div class="cont-texto">
			<h2 class="title">Earth Insights Hub</h2>
			<p class="texto">
				For over five decades, NASA satellites have delivered invaluable data about Earth's land, oceans, atmosphere, temperature, and climate. The Earth Insights Hub offers visitors a deep dive into how our planet is evolving in critical areas: rising sea levels and coastal challenges, air quality and human health, wildfires, carbon emissions, renewable energy, and sustainable agriculture. Explore the powerful data that shapes our understanding of Earth's changing environment and its impact on our future.</p>
			<a href="https://earth.gov/" class="anchor"> <button class="boton">Explore <img class="imgBtn" src="link.png" alt=""></button> </a>
		</div>
		<div class="cont-aire"></div>
	</div>
</div>