<div class="featured-news">
		<div class="cont-padding">
				<div class="cont-title">
						<h2>Featured News</h2>
				</div>
				<section class="section grid grid-cols-2 gap-4 p-4">
						<div class="cont-img1">
							<span class="span">Asteroid Bennu Sample Reveals Mix of Life’s Ingredients</span>
						</div>
						<div class="cont-img2">
								<span class="span">Universo 2</span>
						</div>
						<div class="cont-img3">
								<span class="span">
									Universo 3
								</span>
						</div>
						<div class="cont-img4">
								<span class="span">
									Universo 4
								</span>
						</div>
					</section>
		</div>
</div>

