<div class="featured-news">
		<div class="cont-padding">
				<div class="cont-title">
						<h2 class="featured text-6xl font-bold">Featured News</h2>
						<a href="https://www.nasa.gov/" routerLinkActive="router-link-active" class="anchor"><p class="more">More about <span class="nasa">NASA’s</span></p><img class="img" src="link.png" alt=""></a>
				</div>
				<section class="section grid grid-cols-2 gap-4 p-4">
						<div class="cont-img1">
							<span class="span"> 
								<div class="cont-p">
									<span class="span-read">•3 min read</span>
									<p class="par"> Asteroid Bennu Sample Reveals Mix of Life’s Ingredients</p>
								</div>
							</span>
						</div>
						<div class="cont-img2">
								<span class="span">
									<div class="cont-p">
										<span class="span-read">•3 min read</span>
										<p class="par">"Global Warming: Are We on the Verge of an Irreversible Change?"</p>
									</div>
								</span>
						</div>
						<div class="cont-img3">
								<span class="span">
									<div class="cont-p">
										<span class="span-read">•3 min read</span>
										<p class="par">"Things to Know About SPHEREx, NASA’s Newest Space Telescope"</p>
									</div>
								</span>
						</div>
						<div class="cont-img4">
								<span class="span">
									<div class="cont-p">
										<span class="span-read">•3 min read</span>
										<p class="par">"The dark side of the moon, what is hidden behind the mystery?"</p>
									</div>
								</span>
						</div>
					</section>
		</div>
</div>

