<footer class="footer" style="background-color: #0a0a0a; color: #fff; padding: 20px;">
    <div>
        <p style="font-size: 18px; padding: 20px">
            🌌 Explore the Universe with NASA 🚀 | A passionate fan site dedicated to the wonders of space exploration
        </p>
        <p style="font-size: 12px; padding: 20px">
            Powered by curiosity and the spirit of discovery. Follow NASA's journey to explore the unknown!
        </p>
        <p style="font-size: 12px; padding: 20px">
            &copy; 2025 EzequielDiLeo | All rights reserved.
        </p>
    </div>
    <div>
        <a href="https://www.nasa.gov/" target="_blank" style="color: #fff; text-decoration: none; font-weight: bold;">Visit NASA's Official Website</a>
    </div>
</footer>
