<div class="cont-navbar" [class.shrink]="isScrolled">
	<div class="cont-img">
	   <a routerLink="/home" routerLinkActive="router-link-active" ><img class="imagen" src="space-2.png" alt="logo"></a>  
	</div>
	<div class="navbar" >
		<div class="cont-enlaces">
			<a routerLink="/users">Users</a>
			<a routerLink="/innovation">innovations</a>
			<span class="text-white" class="contenido">{{userName}}</span>
			<img (click)="logout()" class="img-salida" src="salida.png" alt="exit"/>
		</div>
	</div>

</div>