<app-navbar />
<div class="cont-general">
	<div class="cont-info">
		<h1 class="text-6xl font-bold text-white">Exploring the Mysteries of the Universe</h1>
		<p class="text-white pt-5">Embark on a fascinating journey through the stars, planets, and beyond. Discover the vastness and secrets of the cosmos as we explore together the phenomena that shape our universe</p>
	</div>
	<div class="cont-ingo-abajo">
		<div class="cont-1">
			<p class="frase">small steps, giants leaps <img class="fr" src="icon-frase.png" alt=""></p>
		</div>
		<div class="cont-2">
			<p class="frase">Bold steps, endless discovery <img class="fr" src="icon-frase.png" alt=""></p>
		</div>
		<div class="cont-3">
			<p class="frase">From earth to stars <img class="fr" src="icon-frase.png" alt=""></p>
		</div>
	</div>
</div>
<app-news />
<app-plane />
<img-day />
<app-earth />
<app-info-gen />
<solar-storm />
<app-img />
<app-footer />