<div class="cont-gen">
	<div class="cont-info">
		<div class="cont-padding">
			<h2 class="title">Solar Storms</h2>
			<p class="parrafo">The largest solar storm in two decades hit Earth in May 2024, and with the help of a small NASA satellite, scientists have discovered the storm also created two new temporary belts of energetic particles encircling Earth.</p>
			<a href="https://science.nasa.gov/science-research/heliophysics/nasa-cubesat-finds-new-radiation-belts-after-may-2024-solar-storm/" class="anchor"> <button class="boton">Explore <img class="imgBtn" src="link.png" alt=""></button> </a>
		</div>
	</div>
</div>