.cont-intro{
    background: url(../../../../public/gif-block.gif);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-glass{
    background: rgba(0, 0, 0, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.3px);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 45px;
    color: rgb(178, 223, 220);
}

.blur-out-expand{
    animation:blur-out-expand 1.5s linear both
} 

@keyframes blur-out-expand{
    90%{
        transform:scale(1);
        filter:blur(.01px);
    } 
    100%{
        transform:scale(2);
        filter:blur(12px);
        opacity:0
    }
}

/* SPINNER */
.cont-loader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: rgb(19, 112, 124);
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  }
