<div class="cont-general">
	<div class="section-info">
		<div class="cont-2">
			<img class="imagen" src="fondoUsers.jpg" alt="">
		</div>
		<section class="cont-1">
			<span class="news">•NEWS</span>
			<h2 class="title">The Universe: Unexplored Mysteries</h2>
	
			<article class="article-info">
				<h2 class="subtitle">Galaxies: Cosmic Islands</h2>
				<p>Galaxies are vast systems of stars, dust, and gas bound together by gravity. It is believed that there are more than 100 billion galaxies in the observable universe, many of them with their own unique characteristics and structures.</p>
			</article>
	
			<article class="article-info">
				<h2 class="subtitle">Black Holes: The Mysteries of Space</h2>
				<p>Black holes are among the most fascinating and mysterious entities in the universe. They form when a massive star collapses under its own gravity at the end of its life. A black hole has an extremely high density and a gravitational pull so strong that nothing, not even light, can escape from it once it crosses its event horizon.</p>
			</article>
			<span class="info">more <span class="information">information?</span></span>
		</section>
	</div>
</div>
