<div class="cont-general">
	<div class="cont-global">
		<div class="cont-plane">
			<span>•Feature video</span>
			<h2 class="title">X-59: The Experimental Aircraft That Will Transform Commercial Supersonic Fligh</h2>
			<p class="parrafo">NASA and Lockheed Martin Skunk Works recently unveiled the X-59 experimental aircraft, designed and built to reduce a loud sonic boom, associated with faster-than-sound flight, to a quiet sonic thump. The X-59 now moves closer to its first flight —  <br>- a step toward making commercial supersonic flight over land a reality for everyone.</p>
		</div>
		<div class="cont-video">
			<iframe class="video" src="https://www.youtube.com/embed/eC3Fl7Bt4qQ" 
			frameborder="0" allow="accelerometer; encrypted-media; gyroscope;" 
			allowfullscreen></iframe>
		</div>
	</div>
</div>