<app-navbar></app-navbar>
<div class="grid__wrapper">
	@if (loading === true) {
		<loader />
	}
	<igx-grid #grid1 [data]="Data" [moving]="true" [allowAdvancedFiltering]="true" [autoGenerate]="false" height="500px" width="100%" class="custom-grid">

		<igx-column
		field="id"
		header="Id"
		[sortable]="true"
		[dataType]="'number'"
		class="custom-cell">
		</igx-column>
		
		<igx-column 
			field="name" 
			header="Users" 
			[sortable]="true" 
			[dataType]="'string'" 
			class="custom-cell">
		</igx-column>
		
		<igx-column 
			field="email" 
			header="Email" 
			[sortable]="true" 
			dataType="string" 
			class="custom-cell">
		</igx-column>
		
		<igx-column 
			field="password" 
			header="Password" 
			[sortable]="true"  
			[dataType]="'string'" 
			class="custom-cell">
		</igx-column>
		
		<igx-column
			header="Delete"
			[dataType]="'string'" 
			class="custom-cell">
			<ng-template class="cont-btn" igxCell let-cell="cell">
				<button class="btnDelete" (click)="deleteUser(cell.row.data.id, cell.row.data.name)">Eliminar</button>
			</ng-template>
		</igx-column>
	</igx-grid>
</div>
<app-footer />
