<div class="cont-general">
	<div class="cont-global">
		<div class="cont-plane">
			<span>•TODAY</span>
			<h2 class="title">Image Of The Day</h2>
			<h4 class="subtitle">Apollo 14 Moon Landing</h4>
			<p class="parrafo">An excellent view of the Apollo 14 lunar module on the Moon, as photographed during the first Apollo 14 moonwalk on the lunar surface. The astronauts have already deployed the U.S. flag. While astronauts Alan B. Shepard Jr., commander, and Edgar D. Mitchell, lunar module pilot, descended in the lunar module to explore the Moon, astronaut Stuart A. Roosa, command module pilot, remained with the command and service modules in lunar orbit.</p>
			<p class="more">More <span class="abt">About</span></p>
		</div>
		<div class="cont-img">
			<img src="apollo.jpg" alt="apollo14" class="imagen" />
		</div>
	</div>
</div>